@model WebApplication1.Models.PHONGBAN

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PHONGBAN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ten_Phong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten_Phong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ma_QL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ma_QL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ma_phong }) |
    @Html.ActionLink("Back to List", "Index")
</p>
