@model IEnumerable<WebApplication1.Models.CHUCVU>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Trang Trí prj2/indexChucVu.css" rel="stylesheet" type="text/css" />
<h2>Danh sách chức vụ</h2>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn-create" })
    <style>
        .btn-action {
            display: inline-block; /* Để các nút hiển thị bên cạnh nhau */
            padding: 5px 5px; /* Khoảng cách bên trong nút */
            margin: 5px; /* Khoảng cách giữa các nút */
            text-decoration: none; /* Bỏ gạch chân */
            color: #fff; /* Màu chữ trắng */
            border-radius: 5px; /* Bo góc nút */
            transition: background-color 0.3s; /* Hiệu ứng chuyển màu nền */
        }

            /* Kiểu cho nút Edit */
            .btn-action:nth-child(1) {
                background-color: sandybrown;
            }

            /* Kiểu cho nút Details */
            .btn-action:nth-child(2) {
                background-color: forestgreen;
            }

            /* Kiểu cho nút Delete */
            .btn-action.delete {
                background-color: purple;
            }

            /* Hiệu ứng khi hover */
            .btn-action:hover {
                opacity: 0.8; /* Giảm độ mờ khi di chuột vào */
            }
    </style>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ten_CV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Luong_CB)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ten_CV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Luong_CB)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Ma_CV }, new { @class = "btn-action" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Ma_CV }, new { @class = "btn-action" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Ma_CV }, new { @class = "btn-action delete" })
            </td>
        </tr>
    }

</table>
