@model IEnumerable<Project2_PTQ_2210900059.Models.TAIKHOAN>

@{
    ViewBag.Title = "Danh_sach_tai_khoan";
}

<h2>Danh sách tài khoản</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ten_Dang_Nhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mat_Khau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ma_NV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ma_VT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ten_Dang_Nhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mat_Khau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ma_NV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ma_VT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ma_TK }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ma_TK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ma_TK })
        </td>
    </tr>
}

</table>
